<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" >
      <a href="/" class="site_title"><img src="images/solologo.svg" width="80" height="50"></a>
      <br><br>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <% if (user) { %>
      <div class="profile clearfix">
                
      </div>
    <% } %>

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Inicio <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/">Página Principal</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-ticket"></i> Tickets <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/tickets">Gestionar Tickets</a></li>
            </ul>
          </li>
          <% if (user && user.role === 'admin') { %>
            <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/users">Lista de Usuarios</a></li>
              </ul>
            </li>
          <% } %>
          <li><a><i class="fa fa-cog"></i> Configuración <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Ajustes</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>